{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>블로그 프로젝트</title>
{#    <link href="..static/css/bootstrap.css">#} {#    경로 바뀌면 안될 수도 있기 때문에 잘 안씀#}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <style>
        .page-link{
            color: gray;
        }
        .page-link:hover {
            color: black;
        }
        .page-link:active, .page-link:focus, input.form-control:focus {
            border-color: gray;
            box-shadow: 0 0 4px 1px gray;
            color: black;
        }
        .page-link.active {
            background-color: lightgray;
            color: white;
            border-color: gray;
        }
    </style>
    {% block css %}{% endblock %}
</head>
<body>
    <nav class="d-flex justify-content-between py-2 px-4 bg-black opacity-50 text-white">
        <div>
            <a class="btn btn-success" href="{% url 'blog:list' %}">홈</a>
        </div>
        <div style="text-align: right">
            {% if request.user.is_authenticated %}
            <form action="{% url 'logout' %}" method="POST" class="d-inline">
                {% csrf_token %}
                <button class="btn btn-danger btn-sd">로그아웃</button>
            </form>
            {{ request.user.username }}
            {% else %}
            <a href="{% url 'signup' %}">회원가입</a>
            <a href="{% url 'login' %}">로그인</a>
            {% endif %}
        </div>
    </nav>
    <div class="container pt-5">
        {% block content %}{% endblock %}
    </div>
    <footer></footer>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    {% block js %}{% endblock %}
</body>
</html>