{% extends 'base.html' %}
{% block css %}
{% endblock %}
{% block content %}
    <div>
        <div class="mt-2">
            <h1 class="d-inline">블로그 목록 {{ count }}</h1>
            <a class="btn btn-success opacity-50 float-end" href="{% url 'blog:create' %}">생성</a>
        </div>
        <hr>
        {% for blog in object_list %}
            <div class="my-3">
                <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="{% url 'blog:detail' blog.pk %}">
                    {% if blog.get_thumbnail_image_url %}
                        <img src="{{ blog.get_thumbnail_image_url }}" alt="" class="col-2">
                    {% endif %}

{#                    {% if blog.thumbnail %}#}
{#                        <img src="{{ blog.thumbnail.url }}" alt="" class="col-2">#}
{#                    {% endif %}#}
{#                    {% if blog.image %}#}
{#                        <img src="{{ blog.image.url }}" alt="" class="col-2">#}
{#                    {% endif %}#}
                    <sapn class="col-10">
                        [{{ blog.get_category_display }}] ({{ blog.id }}) {{ blog.title }} <small>by {{ blog.author.username }}</small> - <small>{{ blog.created_at | date:"Y-m-d"}}</small>
                    </sapn>
                </a>
            </div>
        {% endfor %}
        <form method="get">
            <div class="my-4 d-flex justify-content-center">
                <div style="width: 400px;">
                    <input class="form-control" name="q" type="text" placeholder="검색어를 입력하세요." value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}">
                </div>
                <button class="btn btn-secondary opacity-50">검색</button>
            </div>
        </form>
{#        페이지네이션#}
        {%  include 'pagination.html' %}
    </div>
{% endblock %}