{% extends 'base.html' %}
{% block content %}
    <div>
        <div class="mt-2 d-flex justify-content-between">
            <h1>{{ blog.title }}</h1>
            {% if request.user == blog.author or request.user.is_superuser %}{# request.user.is_superuser 하거나 request.user.is_staff하면 관리자 허용 #}
            <div>
                <a class="btn btn-warning opacity-50" href="{% url 'blog:update' blog.pk %}">수정</a>
                <form action="{% url 'blog:delete' blog.pk %}" method="POST" id="delete_form" style="display:inline">
                    {% csrf_token %}
                    <button class="btn btn-danger opacity-50" type='button' id="delete_btn">삭제</button>
                </form>
            </div>
            {% endif %}
        </div>
        {% if blog.image %}
            <img src="{{ blog.image.url }}" alt="" class="w-100">
        {% endif %}
        <hr>
        <div>
{#            {{ blog.content }}#}
            {{ blog.content | safe }}  <!-- 써머노트 쓸 때 html코드를 사용할 수 있게 설정. -->
        </div>
        <hr>
        {% if request.user.is_authenticated %}
{#            <form method="post">#}
            <form method="post" action="{% url 'blog:comment-create' blog.pk %}">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <div class="text-end">
                    <button class="btn btn-primary opacity-50">댓글작성</button>
                </div>
            </form>
        {% endif %}
        <div class="mb-5" id="comment_wrapper">
{#            Django에서는 ForeignKey(외래 키) 관계가 설정되면, 역참조(Reverse Lookup)를 위한 관련 매니저가 자동으로 생성됩니다.#}
{#            즉, Comment 모델이 Blog 모델을 참조하고 있다면, Django는 자동으로 blog.comment_set이라는 매니저를 제공하여 해당 Blog 객체에 연결된 모든 Comment를 가져올 수 있도록 합니다.#}
{#            {% for comment in blog.comment_set.all %}#}
            {% for comment in object_list %}

                <div class="border-bottom">
                    {{ comment.content }}
                    <p class="text-end">
                        <small>{{ comment.created_at | date:'Y-m-d H:i' }} | {{ comment.author.username }}</small>
                    </p>
                </div>
            {% endfor %}
        </div>

        <div style="text-align: right;">
            <small>by {{ blog.author.username }}</small>
        </div>
        {%  include 'pagination.html' with fragment='comment_wrapper' %}
        <div style="text-align: center; margin: 50px 0;">
            <a class="btn btn-secondary opacity-50" href="{% url 'blog:list' %}">목록</a>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        document.querySelector('#delete_btn').addEventListener('click', function() {
            {#console.log('click');#}
            if(confirm('삭제 하시겠습니까?')){
                document.querySelector('#delete_form').submit();
            }
        })
    </script>
{% endblock %}