* {
    text-align: center;
    /* background-color: lightsalmon; */
}

html {
    background-color: rgba(255, 160, 122, 0.476);
}

body {
    width: 640px;

    /* 너비에서 남는 여백을 동일하게 분배 */
    margin: auto;

    padding: 20px; 

    border: 2px dashed lightsalmon;
}

h1 {
    font-size: 48px;
}

img {
    height: 200px;
    border-radius: 100px;
}

p{
    font-size: 1.5rem;
}